@import '../../_css/common';

.card {
  border-radius: 26px;
  height: full;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 20px ;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
  background: rgba(35, 35, 35, 0.5);
  border-top: none !important;
  // border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  width: 100%;
  

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}



// .prices {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

.mediaWrapper {
  position: relative;
  min-height: 330px;
  max-width: 100%;
//  min-width: 17rem;
  background: rgba(35, 35, 35, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none !important;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border-radius: 26px 26px 0 0;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  border-radius: 26px;
  object-fit: contain;
  aspect-ratio: 1/1;
  position: absolute;
  max-width: 100%;
max-height: 100%;
padding-top: 20px;
  overflow: hidden !important;
  background-color: white; // Or any color that matches your page background
  mix-blend-mode: lighten; // Removes white backgrounds, blend modes vary with background color
  filter: brightness(1.1) contrast(1.2); // Adjust to remove any remnants of the background
  transition: transform 0.3s ease-in-out;

  &:hover {
    // transform: scale(1.02);
  }
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 80px rgb(0, 0, 0);
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
  z-index: 1;
}

.titleOverlay,
.titleOverlayP,
.titleOverlayG {
  text-align: center;
  background-color: rgba(7, 7, 7, 0.548);
  padding: 0px 10px;
  border-radius: 50px;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.titleOverlayP {
  padding: 0rem 0.6rem;
}

.titleOverlayG {
  padding: 6px 6px;
}

.title {
  margin: 0;
  padding: 3px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

@media (max-width: 640px) {
  .titleRow {
    align-items: center;
  }

  .titleOverlay{
    padding: 5px 10px;
  }
  .titleOverlayP {

    padding: 5px 10px;
  }

  .title {
    font-size: 14px;
  }
}