@import '../../_css/common';

.card {
  border-radius: 26px;
  height: full;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 20px ;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
  background: rgba(35, 35, 35, 0.5);
  border-top: none !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  width: 100%;
  

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
  color: white;

}

.priceActions {
  gap: var(--base);
}

.price {
  font-weight: 600;
  margin: 0;
  color: white;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  margin: 0;
  line-height: 24px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.fontPrice{ 
  color: white;
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  min-height: 262px;
  background: rgba(35, 35, 35, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none !important;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border-radius: 26px 26px 0 0; // Add this line
  overflow: hidden;
}

.image {
  border-radius: 26px;
  object-fit: contain;
  aspect-ratio: 1/1;
  position: absolute;
  max-width: 100%;

  background-color: white; // Or any color that matches your page background
  mix-blend-mode: lighten; // Removes white backgrounds, blend modes vary with background color
  filter: brightness(1.1) contrast(1.2); // Adjust to remove any remnants of the background
}

.placeholder {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid white;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid white;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonBox {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.buttonElem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: white;
}

.button:hover .buttonBox,
.button:focus .buttonBox {
  transition: 0.4s;
  transform: translateX(-56px);
}


.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}