.scrollSectionOuter {
  overflow: hidden;

  @media (max-width: 768px) {
    overflow: visible;
  }
}

.scrollSectionInner {
  height: 100vh;
  width: calc(100vw * 5); // 4 services + 1 intro section
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    height: 40vh;
    width: 100%;
    padding-bottom: 0;
    flex-direction: column;
  }
}

.scrollSection {
  height: 90%;
  width: 99vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100vw;
    height: 100%;
    margin-bottom: 2rem;
  }
}

.introSection {
  border-radius: 100px;
  margin-top: 40px;
  background-color: transparent;

  @media (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 4rem;
    color: #333;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  @media (max-width: 768px) {
    height: auto;
  }
}

.cardContent {
  flex: 1;
  padding: 4rem;
  border-radius: 100px;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    border-radius: 20px;
    width: calc(100% - 2rem); // Adjust for padding
    max-width: 100vw;
  }

  .cardHeading {
    margin-top: 130px;
    margin-left: -400px;
    
    @media (max-width: 768px) {
      margin: 0;
      text-align: center;
    }
        
    h2 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
      color: #333;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
  
    p {
      font-size: 1.8rem;
      color: #666;

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
}

.cardGif {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 200px;

  @media (max-width: 768px) {
    width: 150px;
    height: 150px;
    margin: 2rem auto 0;
  }
}