// index.module.scss

@use '../../../_css/queries.scss' as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    margin-left: -70px;
  }
}

.glass {
  position: relative;
  background: rgba(35, 35, 35, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 10px;
  
  @media (max-width: 1024px) {
    width: 100% !important;
    height: 300px !important;
  }
}

.glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.image, .image2 {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.8));
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 1));
  }
}

.imageContainer {
  position: relative;

  @media (min-width: 1024px) {
    height: 200px;
    width: 200px;
  }
}

.cardGroup {
  display: flex;
  flex-direction: column;
  
  @media (max-width: 1024px) {
    width: 100%;
    padding: 0 !important;
  }
}

.image{
  @media (min-width: 1024px) {
    margin-top: 50px;
  }
}
