

@import '../../_css/queries.scss';
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  

  @include small-break {
    margin: 0;
    padding-top: 200px;
  }
}

.heroWrapper {
  width: 100%;
  max-width: 1560px;
  // margin-top: 100px;
  max-height: 1200px;
  display: flex;
  align-items: center;

  background-size: cover;
  background-position: revert;
  background-repeat: no-repeat;

  @include small-break {
    background-size: cover;
    background-position: center;
    margin-top: 60px;
  }
}

.heroTextBox {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 15% var(--gutter-h);
  width: 100%;

  @include mid-break {
    padding: 10% 30px;
  }

  @include small-break {
    padding: 50px 30px;
  }

  h2 {
    font-size: 70px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mid-break {
      font-size: 48px;
      margin: 24px 0;
      white-space: normal;
    }

    @include small-break {
      font-size: 36px;
      margin: 16px 0;
      width: 100%;
    }
  }

  p {
    font-size: 30px;

    @include mid-break {
      font-size: 24px;
    }

    @include small-break {
      font-size: 18px;
    }
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  margin: calc(var(--base) * -0.5);

  & > * {
    margin: calc(var(--base) / 2);
  }

  @include small-break {
    padding-top: 30px;
    justify-content: center;
  }
}
.img{
  position: 'relative';
  width: '100vw';
  height: 'auto'
}
.heroHeadingg{
  position: absolute;
  color: white;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  top: 4.5em;
  letter-spacing: 10px;
  line-height: 110px;
  width: 18em;
  left: 2em;
  font-size: 56px;
  z-index: 9999;
}
.herotagline{
  position: absolute;
  top: 8.5em;
  left: 3em;
  color: white;
  font-family: Syne;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}
.textt{
  position: absolute;
  top: 16em;
  left: 7em;
}
.rotatedText{
  position: absolute; 
  top: 10em;
  left: 70em;
  
}
.texttt{
  top: 19em;
  left: 7em;
  position: absolute;
}