@import '../../../_css/common';

.filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include large-break {
    flex-direction: row;
    gap: 40px;
  }
  
  @include small-break {
    flex-direction: column;
    gap: 20px;
  }

  @include small-break {
    margin-top: 16px;
  }
}
.addBorder{
  border: 2px solid yellow;
  border-radius: 100%;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @include large-break {
    flex-direction: row;
  }

  @include small-break {
    flex-direction: column;
  }
}

.title {
  white-space: nowrap;
}

.priceSlider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    white-space: nowrap;
  }
}

.hr {
  margin: 20px 0;
}

.selected {
  border: 1px solid white;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #DCD6F7;
    border-radius: 50%;
  }
}

.selectedd {
  transform: scale(1.1);

  &::after {
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
